@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap')


body
    font-family: 'Roboto', 'san-serif',
    margin: 0
    background-color: #F3F5F9

.head
    display: flex
    align-items: center
    background-color: white
    height: 60px
    box-shadow: 0px 6px 15px -8px rgba(0,0,0,0.75)

.head_all
    display: flex
    justify-content: space-between
    align-items: center
    width: calc( 100% - 20% )
    margin-left: 10%
.head_left
    display: flex
    align-items: center

.logo
    height: 50px
    margin-left: auto
    margin-right: auto
    font-size: 20px
    display: flex
    align-items: center
    font-family: 'Alkatra', cursive
    img
        width: 30px
        height: 30px
        align-items: center
        display: flex
        margin-right: 10px
    span
        margin-right: 20px
        margin-top: 7px

.all_button
    width: 100px
    height: 40px
    background-color: white
    justify-content: center
    align-items: center
    display: flex
    font-size: 14px
    font-weight: 600
    margin-bottom: 4px

    span
        font-family: 'Source Sans Pro'

    &:hover
        cursor: pointer
        border-bottom: 4px solid #0072B1
        margin-bottom: 0px
        
    &.selected
        cursor: pointer
        border-bottom: 4px solid #0072B1
        margin-bottom: 0px
    
.head_right
    margin-right: 40px


.logo_box
    margin-left: 40px
    
.persona
    width: 40px
    height: 40px
    display: flex
    justify-content: center
    align-items: center
    font-size: 12px
    white-space: nowrap
    span
        margin-left: 8px
    img
        width: 26px
        height: 26px

.logout_btn
    justify-content: center
    align-items: center
    margin-right: 40px
    justify-content: center
    align-items: center
    display: flex

.logout_b
    justify-content: center
    align-items: center
    width: 40px
    height: 40px
    display: flex
    margin-left: 40px
    &:hover
        cursor: pointer
        color: #0072B1

.broadcast_title
    justify-content: space-between
    display: flex
    align-items: center
    width: calc( 100% - 20% )
    margin-left: 10%
    height: 100%
    

.broadcast_box 
    width: 75%
    background-color: white
    box-shadow: 0px 6px 15px -8px rgba(0,0,0,0.75)
    height: 100% 
    span
        font-family: 'Source Sans Pro'


.broadcast_name
    width: 15%
    display: flex

.league
    width: 20%

.teams
    width: 35%

.start_play
    width: 20%

.broadcast_types
    width: 25%
    height: calc(100vh - 70px)
    display: block
    background-color: white
    box-shadow: 0px 6px 15px -8px rgba(0,0,0,0.75)
    span
        font-family: 'Source Sans Pro'
        font-size: 13px

.broadcast_types_block
    margin-top: 60px

.broadcast_head
    display: flex
    align-items: center
    padding-left: 10px
    height: 60px
    margin-bottom: 5px
    margin-top: 5px
    background-color: white
    border-bottom: 0.1px solid #969696
    width: 100%
    color: #4B4B4B
    img
        width: 9px

.broadcast_names
    width: 15%
    &:hover
        cursor: pointer

.leagues
    width: 20%
    &:hover
        cursor: pointer

.teams_s
    width: 35%
    &:hover
        cursor: pointer

.start_plays
    width: 20%
    
    &:hover
        cursor: pointer

.watch_broadcasts
    width: 10%
    

.broadcast_line
    display: flex
    align-items: center
    padding-left: 10px
    height: 60px
    margin-bottom: 5px
    margin-top: 5px
    background-color: white
    border-bottom: .5px solid #cacaca
    &:hover
        cursor: pointer

.broadcast_types_name
    width: calc( 100% - 36px )
    height: 40px
    margin-left: 18px
    align-items: center
    display: flex
    font-weight: 400
    &:hover
        cursor: pointer

.broadcast_types_all
    border-bottom: .5px solid #cacaca

.online_ofline
    background-color: #43AF42
    border-radius: 50%
    width: 24px
    height: 24px
    margin-right: 15px

.watch_broadcast
    font-size: 2em
    img
        width: 25px
        height: 25px
        &:hover
            cursor: pointer

.broadcast
    height: calc(100vh - 70px)

.registration_page
    width: 100vw
    height: 100vh
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center

.registration_page_row
    width: 350px

    h2
        font-weight: 300
        font-size: 1.75rem
        display: flex
        align-items: center

        svg
            width: 108px
            height: 34px
            margin-left: 10px
            position: relative
            top: -2px
    
    .register
        font-size: .7em
        color: #2C2C2C
        text-align: center
        margin: 25px 0 10px
        p 
            font-weight: 600
            a   
                text-decoration: none
                color: #2C2C2C
                font-weight: 700
            a:hover
                text-decoration: underline 

.registration_page_row_inputs
    width: 100%
    margin-top: 40px

.registration_page_row_inputs_line
    width: 100%
    margin-bottom: 30px

    span
        display: block
        width: 100%
        font-size: 16px

    input
        border: 1px solid #e0e0e0
        background-color: #fff
        padding: 0.5em 0.75em
        font-size: 1.2em
        width: calc(100% - 1.5em)
        margin-top: 10px

.registration_page_row_button
    background-color: #0072b1
    color: #fff
    width: 100%
    display: block
    font-size: 1em
    line-height: 2em
    border: none
    overflow: visible
    text-transform: uppercase
    padding: 0.5em 1em
    width: calc(100% - 2em)
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    margin-top: 50px
    border-radius: 5px

.index_page
    width: 100vw
    height: 100vh
    overflow: hidden

.index_page_header
    width: 100%
    display: flex
    height: 67px
    border-bottom: 1px solid #EBECF0
    background: #fff
    justify-content: center
    align-content: center

.index_page_header_row
    width: 1300px
    display: flex
    align-items: center
    justify-content: space-between

.index_page_header_row_logo
    margin-left: 12px
    svg
        width: 108px
        height: 34px
        margin-left: 10px

.index_page_header_row_buttons
    display: flex
    align-items: center

.index_page_header_row_buttons_line
    padding: 0 20px
    height: 100%
    cursor: pointer
    font-weight: 500

    &.selected
        color: #00BC8C

.index_page_header_row_user_close

    img
        width: 18px
        position: relative
        top: 2px
        right: 7px
    
.index_page_header_row_user
    display: flex
    align-items: center
    cursor: pointer

    p
        display: none

.index_page_header_row_user_img
    img
        width: 25px
        position: relative
        top: 2px

.index_page_header_row_user_text
    margin: 0 10px
    font-weight: 500

.index_page_body
    width: 100%
    height: calc(100vh - 67px)
    display: flex
    justify-content: center

.index_page_body_row
    max-width: 1300px
    width: 100%
    display: flex

.index_page_body_row_body
    flex: 3

.index_page_body_row_menu
    flex: 1
    height: 100%
    border-left: 1px solid #EBECF0
    background-color: #F8FAFB   
    text-align: center
    overflow-y: scroll

.index_page_body_row_body_line
    width: 100%
    display: flex
    align-items: center
    justify-content: space-around
    height: 56px

    span
        font-size: 14px
        font-weight: 500
        display: flex
        flex: 1
        margin-left: 30px

.index_page_body_row_body_line:nth-child(1n)
    background-color: #FFFFFF

.index_page_body_row_body_line:nth-child(2n)
    background-color: #F8FAFB

.index_page_body_row_body_line_button
    background-color: #00BC8C
    border-radius: 8px
    width: 35px
    height: 35px
    display: flex
    justify-content: center
    align-items: center
    margin-right: 40px
    cursor: pointer

    img
        width: 20px

.index_page_body_row_menu_line
    width: 100%
    display: flex
    align-items: center
    height: 60px
    font-size: 15px
    font-weight: 600
    color: #6c6d6e
    width: 100%
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer

    span
        position: relative

    .index_page_body_row_menu_line_circule
        position: absolute
        left: -30px
        width: 20px
        height: 20px
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        color: white
        background-color: #00BC8C

.index_page_body_row_menu_line:hover
    background-color: #fff

.user_page_body
    width: 100vw
    display: flex
    justify-content: center
    height: calc(100vh - 68px)

.user_page_body_row
    max-width: 1300px
    width: 100%
    margin-top: 40px

    h2
        font-weight: 300
        font-size: 1.55rem
        display: flex
        align-items: center
        margin-top: 40px

.user_page_body_row_body
    width: 100%
    display: flex
    align-items: center
    flex-wrap: wrap
    margin-top: 30px

.user_page_body_row_body_more
    width: 100%
    display: flex
    align-items: center
    flex-wrap: wrap
    margin-top: 30px

.user_page_body_row_body_line
    font-size: 16px
    font-weight: 400
    padding: 10px 20px
    border-radius: 5px
    background-color: white
    margin-right: 20px
    margin-bottom: 20px

.user_page_body_row_body_button
    font-size: 16px
    font-weight: 400
    padding: 10px 20px
    border-radius: 5px
    background-color: white
    margin-right: 20px
    margin-bottom: 20px
    cursor: pointer

.user_page_body_row_body_button[data="ceceled"]
    background-color: #e64141
    color: white

.user_page_body_row_body_button[data="exit"]
    background-color: #00BC8C
    color: white

.iframe_video
    width: 100%
    min-height: 400px
    height: fit-content
    background-color: #F8FAFB
    position: relative
    display: flex
    justify-content: center
    align-items: center

.iframe_video_buttons
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    display: flex
    justify-content: flex-end

.iframe_video_buttons_button
    width: 50px
    height: 50px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer

    img
        width: 50%

@media screen and (max-width: 900px)
    
    .index_page_body_row_menu
        position: absolute
        top: 67px
        right: -100%
        width: 100%

        &.selected
            right: 0

    .index_page_header_row_logo
        display: none

    .index_page_header_row_user

        p
            display: flex
            margin-right: 20px

    .index_page_body_row_body_line
        display: inline-block
        margin-bottom: 60px

    .index_page_body_row_body_line_button
        margin: 0 auto