body
    background-color: white
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    margin: 0
.head
    justify-content: space-between
    display: flex
    align-items: center
    background-color: white
    height: 60px
    box-shadow: 0px 6px 15px -8px rgba(0,0,0,0.75)


.head_left
    display: flex
    align-items: center

.logo
    width: 50px
    height: 50px
    margin-left: auto
    margin-right: auto
    font-size: 40px
    img
        width: 50px
        height: 50px
        align-items: center
        display: flex

.all_button
    width: 125px
    height: 40px
    margin-left: 15px
    background-color: white
    justify-content: center
    align-items: center
    display: flex
    font-size: 1.6em
    &:hover
        opacity: .55
        cursor: pointer
    


.live_button
    width: 125px
    height: 40px
    margin-left: 15px
    background-color: white
    justify-content: center
    align-items: center
    display: flex
    font-size: 1.6em
    &:hover
        opacity: .55
        cursor: pointer

.logo_box
    width: 120px
    
.logout_btn
    justify-content: center
    align-items: center
    width: 20px
    height: 20px
    margin-right: 10px
    &:hover
        cursor: pointer
        color: #43AF42

.broadcast
    margin: 15px

.broadcast_title
    justify-content: space-between
    display: flex
    align-items: center

.broadcast_box 
    width: 75%
    padding: 10px
    background-color: white

.broadcast_name
    width: 15%

.league
    width: 20%

.teams
    width: 35%

.start_play
    width: 20%

.broadcast_types
    width: 25%
    display: block
    background-color: white
    margin-left: 10px

.broadcast_line
    display: flex
    align-items: center
    padding-left: 10px
    height: 60px
    margin-bottom: 5px
    margin-top: 5px
    background-color: white
    box-shadow: 0px 6px 15px -8px rgba(0,0,0,0.75)
    &:hover
        opacity: .55
        cursor: pointer

.broadcast_types_name
    width: calc( 100% - 36px )
    height: 40px
    margin: 10px
    margin-left: 18px
    box-shadow: 0px 6px 15px -8px rgba(0,0,0,0.75)
    justify-content: center
    align-items: center
    display: flex
    &:hover
        opacity: .55
        cursor: pointer



.watch_broadcast
    font-size: 2em
    img
        width: 25px
        height: 25px
    &:hover
        cursor: pointer



